@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
*@

@*TODO 
add db, make onclicks, get every data from db*@
<div class="mainBody">
    <div class="rowOne">
        <a class="nav-link text-dark" asp-area="" asp-controller="Cart" asp-action="Cart">
        <div>
            <div>
                <img src="images/laptop1.jpg" class="imageOne"/>
            </div>
            <div class="productTitle">
                <span>Title</span>
                
            </div>
            <div class="productPrice">
                <span>122.89</span>
            </div>
            </div>
        </a>
        <div>
            <div>
                <img src="images/laptop1.jpg" class="imageOne" />
            </div>
            <div class="productTitle">
                <span>Title</span>

            </div>
            <div class="productPrice">
                 <span>122.89</span>
            </div>
        </div>

        <div>
            <div>
                <img src="images/laptop1.jpg" class="imageOne" />
            </div>
            <div class="productTitle">
                <span>Giga Laptop Giga Kamyczora</span>
            </div>
            <div class="productPrice">
                 <span>122.89</span>
            </div>
        </div>
    </div>

    <div class="rowOne">
        <div>
            <div>
                <img src="images/laptop1.jpg" class="imageOne" />
            </div>
            <div class="productTitle">
                <span>Title</span>

            </div>
            <div class="productPrice">
                <span>122.89</span>
            </div>
        </div>
        <div>
            <div>
                <img src="images/laptop1.jpg" class="imageOne" />
            </div>
            <div class="productTitle">
                <span>Title</span>

            </div>
            <div class="productPrice">
                <span>122.89</span>
            </div>
        </div>

        <div>
            <div>
                <img src="images/laptop1.jpg" class="imageOne" />
            </div>
            <div class="productTitle">
                <span>Giga Laptop Giga Kamyczora</span>
            </div>
            <div class="productPrice">
                <span>122.89</span>
            </div>
        </div>
    </div>

     <div class="rowOne">
        <div>
            <div>
                <img src="images/laptop1.jpg" class="imageOne"/>
            </div>
            <div class="productTitle">
                <span>Title</span>

            </div>
            <div class="productPrice">
                <span>122.89</span>
            </div>
        </div>
        <div>
            <div>
                <img src="images/laptop1.jpg" class="imageOne" />
            </div>
            <div class="productTitle">
                <span>Title</span>

            </div>
            <div class="productPrice">
                 <span>122.89</span>
            </div>
        </div>

        <div>
            <div>
                <img src="images/laptop1.jpg" class="imageOne" />
            </div>
            <div class="productTitle">
                <span>Giga Laptop Giga Kamyczora</span>
            </div>
            <div class="productPrice">
                 <span>122.89</span>
            </div>
        </div>
    </div>
</div>
